<div class="heading">
    <div class="heading-image">
        <div class="imagebox">
            <img class="logo" src="/assets/hhlogo.png">
        </div>
    </div>
    <div class="popup" id="popup">
        <span class="popuptext" id="popuptext">Higashikata Josuke!</span>
    </div>
    <div class="heading-text">
        <h3><em>Hop Homes Quickly and Lose No Hares!</em></h3>
    </div>
</div>
				<h5 class="menuTitle" style="color: #202020; margin-bottom: 0vw;">Last Updated On: <span id='dateTime'>November 19, 2022 at 5:48:35 AM.</span></h5>
<div class="bar">
    <div class="menu-select">
        <div class="menu">
            <p><a id="aboutPop" class="menuLink">About</a></p>
        </div>
        <div class="menu">
            <p><a id="contactPop" class="menuLink">Contact</a></p>
        </div>
    </div>
    <div class="about" id="aboutInfo">
        <h1>About</h1>
        <p style="text-indent: 10%; text-align: left;"><em>homeyhopping.com</em> is a personal project created by myself (<a href="" target="_blank"><em>James Li</em></a>) with the express purposes of consolidating mass apartment rent listings within New York City to one site and to hone my web-scraping skills.</p>
        <p style="text-indent: 10%; text-align: left;">The data for this site was gathered using spiders created with Python's BeautifulSoup and Selenium packages across three sites (<a href="https://www.apartments.com" target="_blank"><em>apartments.com</em></a>, <a href="https://www.apartmentfinder.com" target="_blank"><em>apartmentfinder.com</em></a>, and <a href="https://www.nyrentownsell.com" target="_blank"><em>nyrentownsell.com</em></a>), compiled into corresponding .csv files, and exported into this .php file automatically via cron job.</p>
        <p style="text-indent: 10%; text-align: left;">Once complete, the source folder for this site will be available for access and viewing capabilities on my <a href="https://github.com/j4mesli/homey-hopping.com" target="_blank">github</a>. <em>This project was created for education purposes <strong>ONLY</strong>, with all data used in accordance with the <a href="https://www.copyright.gov/title17/92chap1.html#107" target="_blank">United States Fair Use Doctine.</a></em></p>
        <button id="aboutClose" class="close">Close </button>
    </div>
    <div class="contact" id="contactInfo">
        <h1>Contact</h1>
        <p style="text-indent: 25%; text-align: left;">LinkedIn: <a href="" target="_blank">James Li</a></p>
        <p style="text-indent: 25%; text-align: left;">Email: jl11701@nyu.edu</p>
        <button id="contactClose" class="close">Close </button>
    </div>
</div>