<div href="#" class="loadingButtons" id="loadingButtons">
    <div class="more">
        <button id="load" class="loadMore">Load 10 More </button>
    </div>
    <div class="more">
        <button id="load100" class="loadMore">Load 100 More </button>
    </div>
    <div class="more">
        <button id="load250" class="loadMore">Load 250 More </button>
    </div>
</div>