<div class="selectButtons" id="selectButtons" style="display: none; margin-bottom: 0vw;">
    <h5 class="menuTitle" style="color: #202020; margin-bottom: 0vw; margin-top: 1vw;">Options: </h5>
    <div class="selectMore">
        <button id="favorite" class="selectMoreButton" style="margin-bottom: -1vw;">Favorite </button>
    </div>
    <div class="selectMore">
        <button id="share" class="selectMoreButton" style="margin-bottom: -1vw;">Share </button>
    </div>
    <div class="selectMore">
        <button id="hide" class="selectMoreButton" style="margin-bottom: -1vw;">Hide </button>
    </div>
    <div class="selectMore">
        <button id="clear" class="selectMoreButton" style="margin-bottom: -1vw;">Clear </button>
    </div>
</div>