<div class="content">
    <%- include('./selected.ejs') %>
    <div class="table">
        <table id="daTable" class="tablesorter">
            <thead>
                <tr>
                    <th id="name">Name</th>
                    <th id="address">Address</th>
                    <th id="neighborhood">Neighborhood</th>
                    <th id="beds">Beds</th>
                    <th id="baths">Baths</th>
                    <th id="area">Area (if available)</th>
                    <th id="price">Price</th>
                    <th id="link">Link</th>
                    <th id="select">Select</th>
                </tr>
            </thead>
            <tbody id="listingsGoHere">
                
            </tbody>
        </table>
    </div>
</div>