<!DOCTYPE HTML>
<html>
    <%- include('./partials/head.ejs') %>
    <body>
		<div class="wrapper" id="top">
            <%- include('./partials/heading.ejs') %>
            <br>
            <br>
            <br>
            <h1 style="color: #cc3300">ERROR 404: PAGE NOT FOUND!</h1>
            <h3>Sorry! The page you requested is either unavailable or cannot be located in our directory!</h3>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <button onclick="location.href='/'" class="loadMore">Take Me Home!</button>
            <script src="/js/htmlScripts.js"></script>
        </div>
    </body>
</html>